body{
       margin: 0;
       font-size: 16px;
}      
a{
       text-decoration: none;
       color: black;

}
#TieuDeUser{
       background-color: #fffec8;
       height: 80px;
       display: flex;
       align-items: center;
       padding: 0 20px;
       justify-content: space-between;
}

.ThanhPhan{
       display: flex;
       align-items: center;
       width: 80%;
       margin-left: auto;
       justify-content: space-between;
}

.ThanhPhan a{
       padding: 30px 40px;
}

.ThanhPhan a:hover{
       background-color: #fffd9c;
       border-radius: 10px;
}

.SignLog{
       display: flex;
       align-items: center;
       margin-right: 10px;
}

.SignLog a{
       padding: 10px 5px;
       border-radius: 5px;
}

.SignLog a:hover{
       background-color: #fffec8;
       text-decoration: underline;
}