{% extends 'base_manager.html' %}

{% block content %}
<div class = "add-prod">
        <h2 class = "deli-mana">Thêm Sản Phẩm</h2>
        <form action="" method="GET">
                  <label for="ten">Tên Sản Phẩm:</label>
                  <input type="text" id="product_name" name="product_name" required>
        
                  <label for="gia">Giá:</label>
                  <input type="number" id="price" name="price" required>

                  <label for="mota">Mô tả chung về sản phẩm:</label>
                  <br>
                <textarea name="" id=""></textarea>
                <br><br>
                  <button type="submit">Thêm Sản Phẩm</button>
        </form>
</div>
{% endblock %}