<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/Static/style_user.css">
       <title>YumYum</title>
</head>
<body>
       <div id="TieuDeUser">
              <p>YumYum</p>
              <a href="#">Trang Chủ</a>
              <a href="#">Thực Đơn</a>
              <a href="#">Giỏ Hàng</a>
              <a href="#">About Us</a>
              <a href="#">Đăng Nhập</a>
              <a href="#">Đăng Kí</a>
       </div>

       {% block content %}

       {% endblock %}
</body>
</html>