<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{{url_for('static', filename='style_user.css')}}">
       <title>YumYum</title>
</head>
<body>
       <nav id="TieuDeUser">
              <p>YumYum</p>

              <div class="ThanhPhan">
              <a href="#">Trang Chủ</a>
              <a href="#">Thực Đơn</a>
              <a href="#">Giỏ Hàng</a>
              <a href="#">About Us</a>
              <div class="SignLog">
                     <a href="#">Đăng Nhập</a>
                     <p>/</p>
                     <a href="#">Đăng Kí</a>
              </div>
       </nav>

              


       </div>





       {% block content %}

       {% endblock %}
</body>
</html>