<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{{url_for('static', filename='style_user.css')}}">
       <title>YumYum</title>
</head>
<body>
       <div id="TieuDeUser">
              <p>YumYum</p>

              <div class="ThanhPhan">
              <a href="#">Đơn mang về</a>
              <a href="#">Đơn đặt bàn</a>
              <a href="#">Tổng doanh thu</a>
              <a href="#">Thêm Sản Phẩm</a>
              <div class="SignLog">
                     <p>Trang Quản Lý</p>
              </div>
       </div>
              


       </div>





       {% block content %}

       {% endblock %}
</body>
</html>