{% extends "base.html" %}
{% block content %}

<div class="search-box-side">
            <form method="get" action="/menu">
                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="text" name="keyword" placeholder="Tìm kiếm món ăn..." value="{{ keyword or '' }}">
                {% if danh_muc %}
                <input type="hidden" name="category" value="{{ danh_muc }}">
                {% endif %}
            </form>
        </div>

<div class="menu-container">

    <aside class="sidebar">
        <ul class="categories">
            <li class="{% if not danh_muc %}active{% endif %}">
                <a href="/menu">Tất cả</a>
            </li>
            <li class="{% if danh_muc == 'Món chính' %}active{% endif %}">
                <a href="/menu?category=Món chính">Món chính</a>
            </li>
            <li class="{% if danh_muc == 'Nước' %}active{% endif %}">
                <a href="/menu?category=Nước">Đồ uống</a>
            </li>
            <li class="{% if danh_muc == 'Ăn nhẹ' %}active{% endif %}">
                <a href="/menu?category=Ăn nhẹ">Ăn nhẹ</a>
            </li>
        </ul>
    </aside>

    <div class="menu-content">

        <div class="product-grid">
            {% for mon in ds_mon %}
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/' + mon['Anh']) }}" alt="{{ mon['Ten_mon'] }}">

                <div class="rating">
                    <h3 class="rating-left">{{ mon["Ten_mon"] }}</h3>
                    <p class="rating-right">{{ mon["rating"] }} <i class="fas fa-star"></i></p>
                </div>

                <div class="danh_muc">
                    <p>{{ mon["Danh_muc"] }}</p>
                </div>

                <div class="cost">
                    <p>{{ mon["Gia"] }} VND</p>
                    <a href="/add_to_cart/{{ mon['id_mon'] }}" class="add-btn-link">+</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page > 1 %}
            <a href="?page={{ page - 1 }}{% if danh_muc %}&category={{ danh_muc }}{% endif %}{% if keyword %}&keyword={{ keyword }}{% endif %}">⬅ Trước</a>
            {% endif %}
            <a href="?page={{ page + 1 }}{% if danh_muc %}&category={{ danh_muc }}{% endif %}{% if keyword %}&keyword={{ keyword }}{% endif %}">Sau ➡</a>
        </div>
    </div>
</div>
{% endblock %}